.wscn-http404-container
  .wscn-http404
    .pic-404
      img.pic-404__parent(src="./img/404.png" alt="404")
      img.pic-404__child.left(src="./img/404_cloud.png" alt="404")
      img.pic-404__child.mid(src="./img/404_cloud.png" alt="404")
      img.pic-404__child.right(src="./img/404_cloud.png" alt="404")
    .bullshit
      .bullshit__oops 404 !
      .bullshit__headline
      .bullshit__info 请检查您输入的网址是否正确，请点击以下按钮返回主页或者发送错误报告
      a.bullshit__return-home(href="/") 返回首页